email="szdralje@gmail.com"

profiles {

		debug {

		process {
			executor='local'
			}

			params {
				base_input_dir = "/projects/b1059/workflows/diverged_regions-nf/input_files"
				snv_vcf = "${base_input_dir}/4_TEST.vcf.gz"
				strains = "${base_input_dir}/4_samples.tsv"
				c_sizes = "${base_input_dir}/Ce_Chrom_Sizes.bed"
				g_regions = "${base_input_dir}/ARMS_CENTERS.bed.gz"
		}
	}

		quest {

			params {
				base_input_dir = "/projects/b1059/workflows/diverged_regions-nf/input_files"
				snv_vcf = "${base_input_dir}/Ce330_STRELKA_CSQ_annotated.vcf.gz"
				strains = "${base_input_dir}/330_samples.tsv" 
				c_sizes = "${base_input_dir}/Ce_Chrom_Sizes.bed"
				g_regions = "${base_input_dir}/ARMS_CENTERS.bed.gz"
		}

	}

}

process.cache = 'deep'